<article>
  <a href="{{ .RelPermalink }}">
    <div class="imge">
    <img src="
             {{- with .Resources.GetMatch "thumbnail.**" -}}
               {{- $image := .Fit "600x300" -}}
               {{- $image.RelPermalink -}}
             {{- else }}/images/thumbnail-600x300.png{{ end -}}
         " alt="" width="600" height="315" decoding="async" loading="lazy">
    </div>
    <div class="inner">
      <h2 class="title">{{ .Title }}</h2>
      <ul class="">
          <li><time datetime="{{ .Date.Format "2006-01-02T15:04:05JST" }}">
            {{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}
          </time></li>
          {{- with .Params.categories -}}
          {{- range . -}}
          <li>{{ . }}</li>
          {{- end -}}
          {{- end -}}
      </ul>
    </div>
  </a>
</article>
