<li>
  <a href="{{ .RelPermalink }}" class="article"> 
      <img
      src="{{- with .Resources.GetMatch "thumbnail.**" -}}
             {{- $image := . -}}
             {{- $image.RelPermalink -}}
          {{- else }}/images/default.png{{ end -}}
          "
      alt=""
      decoding
      class="thumbnail"
      />
      <header class="title">{{ .Title }}</header>
      {{/*  <time class="date" datetime="{{ .Lastmod.Format "2007-01-02T15:04:05JST" }}">{{ .Lastmod.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>  */}}
      <time class="date" itemprop="datePublished" datetime="{{ .Date.Format "2007-01-02T15:04:05JST" }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time>
    
  </a>
</li>