{{- define "title" }}{{ .Title }}{{ with .Site.Params.blogTitle }} - {{ . }}{{
end }}{{ end }} {{ define "meta" }}
<meta name="robots" content="noindex" />
{{ end }} {{- define "main" -}}
<header class="page-title">
  <h1 class="title">
    {{- if ( eq .Section "categories" ) -}} カテゴリー 一覧{{- else if ( eq
    .Section "tags" ) -}} タグ 一覧{{- else if ( eq .Section "archives" )
    -}}アーカイブ 一覧{{- end -}}
  </h1>
</header>

<div class="terms-list">
  <ul>
    {{- $plural := .Data.Plural }} {{- range $index, $term :=
    .Data.Terms.Alphabetical }}
    <li>
      <a href="{{ $.Site.LanguagePrefix }}/blog/{{ $plural }}/{{ $term.Name | urlize }}">{{ $term.Name }}</a>({{ $term.Count }})
    </li>
    {{- end }}
  </ul>
</div>
<!-- ページネーション -->
{{ partial "paginator.html" . }} {{- end -}}
