@charset "UTF-8";

//  bass.css
//  :root(var)
//  全体共通のスタイル
//     footer
//     navの一部

// normalize (local)
@use "lib/_normalize.local.scss";

// reset (local)
@use "lib/_reset.local.scss";

// variable
@use "lib/_var.scss" as *;

////////////////////////////////////////////////////////////////////
//
//   root (var)
//
///////////////////////////////////////////////////////////////////

:root {
  --fontSize: 16px;

  @media ($mq-sm) {
    --fontSize: 17px;
  }
  @media ($mq-md) {
    --fontSize: 18px;
  }
  @media ($mq-xl) {
    --fontSize: 19px;
  }
  @media ($mq-xxl) {
    --fontSize: 20px;
  }

  // line-height

  --lh: 32px;

  // color
  // 基本色：モカベージュ#c0aea0 hsl( 26, 20%, 69%)
  --base: 26;
  --base-r: calc(var(--base) + 180);

  --textColor: hsl(var(--base), 6%, 23%);
  --textColor-g: hsl(var(--base), 6%, 49%);
  --textColor-w: hsl(var(--base), 6%, 97%);
  --textColor-r: hsl(var(--base-r), 6%, 23%);
  --textColor-rg: hsl(var(--base-r), 6%, 49%);
  --textColor-rw: hsl(var(--base-r), 6%, 97%);

  --backGround: hsl(var(--base), 20%, 89%);
  --backGround-l: hsl(var(--base), 20%, 95%);
  --backGround-d: hsl(var(--base), 20%, 35%);
  --backGround-r: hsl(var(--base-r), 80%, 31%);
  --backGround-rl: hsl(var(--base-r), 80%, 99%);
  --backGround-rd: hsl(var(--base-r), 80%, 11%);

  --linkColor: hsl(var(--base), 76%, 41%);
  --linkColor-r: hsl(var(--base-r), 76%, 41%);
  // --hoverColor: hsl(var(--base), 24%, 51%);
}

////////////////////////////////////////////////////////////////////
//
//   base
//
///////////////////////////////////////////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");

html {
  font-size: var(--fontSize);
  scroll-behavior: smooth;
}

body {
  font-family: "BIZ UDPMincho", serif;
  width: 100%;
}

// a {
//   color: var(--linkColor);

//   &:visited {
//     color: var(--linkColor);
//   }
//   &:active {
//     color: var(--hoverColor);
//   }
//   &:hover {
//     color: var(--hoverColor);
//   }
// }

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-right: 0.25em;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#header {
  display: flex;
  align-items: center;
  height: 3rem;
  background: var(--backGround-rl);
  // color: var(--textColor-r);
  .logo {
    // logo" 700 x 190
    width: calc(700px / 7);
    height: calc(190px / 7);
    fill: #f2849b;
    margin-left: 8px;
    @media ($mq-lg) {
      width: calc(700px / 6);
      height: calc(190px / 6);
      margin-left: 1rem;
    }
  }
}

#navigation {
  .line {
    background: currentColor;
  }
}
// .global-navigation {
// }

////////////////////////////////////////////////////////////////////
//
//  navigation
//
///////////////////////////////////////////////////////////////////

#navigation {
  background: var(--backGround-rl);
  color: var(--textColor-r);

  .line {
    background: currentColor;
  }

  .container.top {
    transform: translateY(-3px) scaleX(0.88235);
  }

  .container.bottom {
    transform: translateY(3px) scaleX(0.88235);
  }

  input:checked + label .container .line.bottom {
    transform: rotateZ(45deg);
  }

  input:checked + label .container .line.top {
    transform: rotateZ(-45deg);
  }

  input:checked + label .container.bottom {
    transform: none;
  }

  input:checked + label .container.top {
    transform: none;
  }

  input:checked + label .line.bottom {
    transform: none;
    transition-delay: 0.1s;
  }

  input:checked + label .line.top {
    transform: none;
    transition-delay: 0.1s;
  }

  .container {
    transition: transform 0.2s ease-in-out 0.1s;
  }

  input:checked + label .container {
    transition-delay: 0s;
  }

  .line {
    transition: transform 0.2s ease-in-out;
  }

  button {
    all: unset;
    cursor: pointer;
    display: block;
  }

  button div {
    pointer-events: none;
  }

  .burger {
    height: 31px;
    width: 31px;
    display: block;
    position: absolute;
    top: calc((3rem - 31px) / 2);
    right: calc((3rem - 31px) / 2);
  }

  .container {
    position: absolute;
    left: 7px;
    top: 15px;
  }

  .line {
    height: 1px;
    border-radius: 3px;
    width: 17px;
  }

  input {
    display: none;
  }

  .global-navigation {
    background: var(--backGround-rl);
    color: currentColor;
    height: 0%;
    overflow: hidden;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    z-index: 1000;
    display: grid;
    grid-template-rows: repeat(4, 3rem);
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0 18%;
  }
  input:checked ~ .global-navigation {
    height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding-top: 2rem;
    transition: 0.2s ease-in-out 0.1s;
  }
  li {
    padding: 5px 0;
    border-bottom: 1px solid currentColor;
    margin-top: 1rem;
    font-size: 0.9em;
  }
  a:hover,
  a:active {
    opacity: 0.8;
  }
  @media ($mq-md) {
    input,
    button,
    .burger {
      display: none;
    }
    .global-navigation,
    input:checked ~ .global-navigation {
      box-shadow: none;
      height: 3rem;
      background: transparent;
      color: var(--textColor);
      transition: none;
      justify-content: end;
      top: 0;
      left: auto;
      right: 1rem;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 3rem;
      padding: 0;
    }
    li {
      margin: 0 1rem;
      border: none;
      font-size: 0.75em;
      line-height: 1.5rem;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

////////////////////////////////////////////////////////////////////
//
//   footer
//
//////////////////////////////////////////////////////////////////

#footer {
  background: var(--backGround-rd);
  color: var(--textColor-w);
  // background: #222;
  // color: #eee;
  margin-top: calc(var(--lh) * 4);
  padding: 40px 10px 0;
  font-size: 0.6em;
  @media ($mq-sm) {
    font-size: 0.75em;
  }
  @media ($mq-md) {
    text-align: center;
  }

  .icon {
    &:hover,
    &:active {
      fill: var(--textColor-rg);
    }
  }

  // .logo {
  //   @media ($mq-md) {
  //     text-align: right;
  //   }
  //   .icon {
  //     width: calc(140px / 1.25);
  //     height: calc(38px / 1.25);
  //     margin-left: 5px;
  //     @media ($mq-sm) {
  //       width: 140px;
  //       height: 38px;
  //     }
  //     @media ($mq-md) {
  //       width: calc(140px * 1.25);
  //       height: calc(38px * 1.25);
  //       margin: 0;
  //     }
  //   }
  // }
  .sns {
    .icon {
      height: 40px;
      width: 40px;
      margin: 10px 20px 0 0;
      @media ($mq-md) {
        height: 50px;
        width: 50px;
        margin: 30px 40px 0 0;
      }
    }
    a:last-child .icon {
      margin-right: 0;
    }
  }

  .navigation {
    padding-top: 30px;

    a:hover,
    a:active {
      color: var(--textColor-rg);
    }

    li {
      padding: 5px 0;
    }
    @media ($mq-md) {
      padding-top: 50px;

      > ul {
        display: flex;
        justify-content: center;
        gap: 0 20px;
      }
    }
  }
}
.copyright-powered {
  padding: 20px 0 10px;
  font-family: sans-serif;
  @media ($mq-md) {
    text-align: center;
    font-size: 0.9em;
  }
}

// 404 page

#page404 {
  text-align: center;

  .title {
    font-size: 1rem;
    padding-top: calc(var(--lh) * 2);
    font-family: sans-serif;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5;
    padding-top: var(--lh);
  }
  a {
    color: var(--linkColor-r);
    text-decoration: underline;
    &:visited {
      color: var(--linkColor-r);
    }
    &:hover,
    &:active {
      color: inherit;
    }
  }
  .navigation {
    display: flex;
    font-size: 0.8em;
    justify-content: space-around;
    line-height: var(--lh);
    list-style: none;
    padding-top: 1em;
    max-width: 600px;
    margin: auto;
  }
}
