@charset "UTF-8";

//  blog.css
//  blogのスタイル
//

@use "lib/_var.scss" as *;

a {
  color: currentColor;

  &:visited {
    color: currentColor;
  }
  &:hover,
  &:active {
    color: currentColor;
  }
}

////////////////////////////////////////////////////////////////////
//
//  grid design
//
///////////////////////////////////////////////////////////////////

#main,
#sidebar {
  font-family: sans-serif;
}
body {
  background: var(--backGround);
  color: var(--textColor);
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-rows: auto;
  grid-template-areas:
    "head"
    "navi"
    "main"
    "side"
    "foot";

  @media ($mq-lg) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      " head head head"
      " navi navi navi"
      " main main side"
      " foot foot foot";
  }
}
#header {
  grid-area: head;
  background: var(--backGround-l);
  color: var(--textColor);
}
#main {
  grid-area: main;
  margin: 0 auto;
  width: 100vw;
  @media ($mq-sm) {
    padding: 0 min(2.77778%, 20px);
  }
  @media ($mq-md) {
    // text max720
    // padding in 728~800
    padding: 0;
    margin: 0 auto;
    width: min(94.79167%, 840px);
  }
  @media ($mq-lg) {
    //661.333 : 330.666
    // text 576~720
    // next text 760
    // padding in 656~780
    width: clamp(656px, 99.19355%, 780px);
    margin: 0 0 0 auto;
  }
  @media ($mq-xl) {
    // 760~800
    // text 760
    // next text 800
    // padding in 780~840
    width: clamp(780px, 97.5%, 840px);
  }
  @media ($mq-xxl) {
    width: clamp(840px, 90%, 900px);
  }
}
#navigation {
  grid-area: navi;
  background: var(--backGround-l);
  color: var(--textColor);
  .global-navigation {
    background: var(--backGround-l);
    color: var(--textColor);
  }
}
#sidebar {
  grid-area: side;
  margin: 0 10px;
  @media ($mq-sm) {
    margin: 0 min(2.77778%, 20px);
  }
  @media ($mq-md) {
    margin: 0 auto;
    width: min(94.79167%, 800px);
  }
  @media ($mq-lg) {
    width: clamp(300px, 84%, 336px);
  }
  @media ($mq-xl) {
    margin-left: 32px;
  }
  // @media ($mq-xxl) {
  //   margin-left: 65.33333px;
  // }
}
#footer {
  grid-area: foot;
}

////////////////////////////////////////////////////////////////////
//
//  個別デザイン
//
///////////////////////////////////////////////////////////////////

// main {
//   padding-top: 1rem;
//   @media ($mq-lg) {
//     padding: 0;
//   }
// }

#breadcrumb,
#article {
  padding-left: 15px;
  padding-right: 15px;

  @media ($mq-sm) {
    // padding 10~20
    padding-left: min(2.77778%, 20px);
    padding-right: min(2.77778%, 20px);
  }
  @media ($mq-md) {
    // 768~992=224
    // padding in 728~840
    // pading 20~60
    padding-left: min((50% - 344px), 60px);
    padding-right: min((50% - 344px), 60px);
  }
  @media ($mq-lg) {
    // w 656~780
    // text 612-720=108
    // padding 22~30
    padding-left: min((100% / 10.8 - 40.74074px), 30px);
    padding-right: min((100% / 10.8 - 40.74074px), 30px);
  }
  @media ($mq-xl) {
    // text 760
    // w 780~840
    // padding 30~40
    padding-left: min((100% / 6 - 100px), 40px);
    padding-right: min((100% / 6 - 100px), 40px);
  }
  @media ($mq-xxl) {
    // text 800
    // w 840~900
    // padding 40~50
    padding-left: min((100% / 6 - 100px), 50px);
    padding-right: min((100% / 6 - 100px), 50px);
  }
}

// パンくずリスト
#breadcrumb {
  font-size: 0.75em;
  padding-top: 0.25rem;
  @media ($mq-lg) {
    padding-top: 1rem;
  }
  li {
    display: inline;

    color: var(--textColor-g);
    line-height: 1.2rem;

    &:nth-child(n + 2)::before {
      content: ">";
      padding: 0 0.5em;
    }
  }
  a {
    // color: var(--textColor-g);

    &:hover {
      text-decoration: underline;
    }
  }
}

#article {
  background: linear-gradient(
    135deg,
    hsl(var(--base), 20%, 99%),
    hsl(var(--base), 20%, 96%)
  );
  box-shadow: 4px 4px 8px hsla(var(--base), 0%, 1%, 0.2),
    inset 2px 2px 4px hsla(var(--base), 0%, 99%, 0.8);
  border-radius: 18px;
  overflow: hidden;
  font-size: var(--fontSize);
  overflow-wrap: break-word;
  margin-top: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-title {
  font-size: 1.2em;
  padding: calc(var(--lh) / 4) 0;
  @media ($mq-md) {
    font-size: 1.3em;
  }
  @media ($mq-lg) {
    font-size: 1.4em;
  }
}
#article-header {
  .time {
    color: var(--textColor-g);
    font-size: 0.8em;
    line-height: var(--lh);
  }

  .post-meta {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 0 1em;
    padding: calc(var(--lh) / 4) 0;

    .category,
    .tags {
      font-size: 0.8em;
      display: grid;
      grid-template-columns: auto auto;
      line-height: 1;
    }
    a {
      color: var(--textColor-g);

      &:visited,
      &:active,
      &:hover {
        color: var(--textColor);
        text-decoration: underline;
      }
    }
    .item {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }
  }
}
#article-content {
  margin: 0 auto;
  padding: calc(var(--lh) * 2) 0;
  line-height: var(--lh);

  a {
    color: var(--linkColor);
    text-decoration: underline;

    &:visited {
      color: var(--linkColor);
    }

    &:hover,
    &:active {
      color: var(--textColor);
    }

    &[href^="http"]::after {
      content: "&nbsp;(外部リンク)";
    }
  }

  h1,
  h2 {
    font-size: 1.2em;
    padding: calc(var(--lh) * 3.25) 0 calc(var(--lh) * 0.25);
    @media ($mq-md) {
      font-size: 1.3em;
    }
    @media ($mq-lg) {
      font-size: 1.4em;
    }
    scroll-margin-top: calc(var(--lh) * -3.25 + (var(--lh) / 2));
  }
  h3 {
    font-size: 1.1em;
    padding-top: calc(var(--lh) * 2);
    @media ($mq-md) {
      font-size: 1.2em;
    }
    @media ($mq-lg) {
      font-size: 1.3em;
    }
    scroll-margin-top: calc(var(--lh) * -2 + (var(--lh) / 2));
  }
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl {
    padding-top: var(--lh);
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  hr {
    border: 0;
    border-top: 1px dashed currentColor;
    color: var(--textColor);
    margin: calc(var(--lh) * 2.5) 0 calc(var(--lh) * 1.5);
    display: grid;
    // justify-content: center;
    // align-items: center
    place-content: center;
    width: 100%;
  }

  hr::before {
    content: "✂";
    color: currentColor;
    background: var(--backGround-l);
    text-align: center;
    margin-top: 0.1em;
    vertical-align: middle;
    line-height: 1em;
  }

  ul {
    padding-left: 1em;
    list-style: disc;

    ul {
      list-style: circle;
      padding-top: 0;
      ul {
        list-style: disc;
      }
    }
  }

  ol {
    padding-left: 1.5em;
    list-style: decimal;

    > ul {
      padding-left: 1em;
      padding-top: 0;
      list-style: circle;
      ul {
        list-style: disc;
      }
    }
  }

  // dl
  dt {
    font-weight: bold;
  }

  dd {
    ul {
      padding-left: 1em;
      padding-top: 0;
      padding-bottom: 1em;
      list-style: disc;
      ul {
        list-style: circle;
        padding-bottom: 0;
      }
    }
  }

  blockquote {
    margin: 0;
    margin-top: var(--lh);
    padding: 1.5em 1em 1.5em 1.5em;
    font-size: 0.9em;
    background: hsl(var(--base), 20%, 95%);
    border-left: 0.5em solid var(--textColor-rg);
    line-height: 1.5;

    p:first-child {
      margin-top: 0;
      padding-top: 0;
    }
    cite {
      color: var(--textColor-g);
      font-style: italic;
      &::before {
        content: "引用元：";
      }
    }
  }
  figure {
    margin: 0 auto;
    @media ($mq-lg) {
      display: inline-block;
    }
  }
  img {
    max-height: 500px;
    vertical-align: top;
    object-fit: contain;
  }

  p + figure > img {
    margin-top: var(--lh);
  }

  figcaption,
  caption {
    font-size: 0.8em;
    text-align: center;
  }
  figcaption {
    display: block;
    max-width: 500px;
    color: var(--textColor-g);
  }

  table {
    margin: var(--lh) auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }
  tr:nth-child(odd) {
    background: var(--backGround-l);
  }
  th,
  td {
    padding-top: 10px;
  }

  iframe {
    margin-top: var(--lh);
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    max-width: 600px;
  }
  // 目次関連
  .toc {
    padding-top: 0;
  }
  .toc-back {
    padding-top: var(--lh);

    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.4em 0.6928em 0.4em;
      border-color: transparent transparent currentColor transparent;
      margin-right: 0.2em;
      margin-top: -0.1536em;
    }
  }

  //ブログカード
  .blog-card {
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0 0 3px 1px var(--textColor-g);
    margin-top: var(--lh);
    overflow: hidden;
    border-radius: 0.5em;
    max-width: 500px;

    .link-img {
      object-fit: cover;
      order: 2;
      height: calc(var(--lh) * 3);
      aspect-ratio: 1;
      margin-left: auto;
    }
    .link-meta {
      order: 1;
      padding: 0 5px 0 1em;
      display: grid;
      grid-template-rows: repeat(3, var(--lh));
    }
    .link-title {
      font-weight: bold;
      font-size: 0.8em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .link-none {
      font-size: 0.9em;
      font-weight: bold;
      line-height: 1.5;
      padding: 0.5rem 5px 0.5em 1em;
      height: calc(var(--lh) * 3);
    }
    .link-desc {
      color: var(--textColor-g);
      font-size: 0.5em;
      line-height: calc(var(--lh) / 3);
      overflow: hidden;
      @media ($mq-md) {
        line-height: 1.4;
        overflow: visible;
      }
    }
    .link-url {
      font-size: 0.6em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .link-icon {
      vertical-align: middle;
      width: 1.25em;
      height: 1.25em;
    }
    .link-site {
      font-size: 0.9em;
    }
  }

  a.blog-card {
    text-decoration: none;
    color: var(--textColor);

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  div.blog-card:hover {
    cursor: not-allowed;
  }
}
// 関連記事
#related {
  padding: var(--lh) 0 1em;
  .content {
    padding-top: 0.5em;
  }

  .related-title {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.4rem 0;
  }
  .article {
    &:hover {
      background: var(--backGround-l);
      opacity: 0.6;

      .title {
        text-decoration: underline;
      }
    }
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: var(--lh) auto;
    gap: 0 5px;
    margin-top: 0.5em;
    @media ($mq-md) {
      gap: 0 10px;
    }

    .thumbnail {
      grid-row: 1 / 3;
      aspect-ratio: 1;
      width: 20vw;
      max-width: 128px;
      object-fit: cover;
      box-shadow: 0 0 1px 1px var(--backGround);
      border-radius: 4px;
    }
    .title {
      grid-row: 2 / 3;
      font-weight: bold;
      font-size: 0.9em;
      overflow: hidden;
      @media ($mq-md) {
        font-size: 1em;
      }
    }
    .date {
      grid-row: 1 / 2;
      font-size: 0.7em;
      color: var(--textColor-g);
      line-height: var(--lh);
      @media ($mq-md) {
        font-size: 0.8em;
      }
    }
  }
}

// prev & next
.prev-next {
  padding-top: 2rem;
  &:hover {
    opacity: 0.8;
  }
  @media ($mq-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 8px;
    grid-template-areas: "right left";
  }
}
// 新しい記事
#next-article {
  padding: 5px;
  background: var(--backGround-l);
  margin-top: 10px;
  grid-area: right;
  border-radius: 3px;

  a {
    display: flex;
    flex-direction: column;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: flex;
      font-size: 0.8em;
      padding-bottom: 5px;
    }
  }
}
// 過去の記事
#prev-article {
  padding: 5px;
  background: var(--backGround-l);
  margin-top: 10px;
  grid-area: left;
  border-radius: 3px;

  a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: flex;
      font-size: 0.8em;
      padding-bottom: 5px;
    }
  }
}
////////////////////////////////////////////////////////////////////
//
//   sidebar
//
///////////////////////////////////////////////////////////////////

// #sidebar {
//   .sidebar-title {
//     background: var(--sidebarGradient);
//     color: var(--textColor-w);
//     padding: 0.5em 15px;
//     font-weight: bold;
//     margin-top: 4em;
//     text-align: center;
//     @media ($mq-sm) {
//       padding: 0.5em 20px;
//     }
//   }
// }

// カテゴリー
// タグ
// アーカイブ
#findArticles {
  // .categories,
  // .tags,
  // .archives

  padding-top: var(--lh);

  .categories,
  .tags {
    padding: 10px;
    background: var(--backGround-l);
    border-radius: 4px;

    .title {
      padding-bottom: 5px;
      display: flex;
      font-weight: bold;

      a:hover {
        text-decoration: underline;
      }
    }
    .content {
      margin-top: 0.5rem;
    }
  }

  .categories {
    a:hover {
      text-decoration: underline;
    }

    .content {
      padding-left: 1rem;
      font-size: 0.9em;
      @media ($mq-md) {
        display: flex;
        justify-content: space-around;
        padding: 0;
      }
      @media ($mq-lg) {
        display: block;
        padding-left: 1rem;
      }

      li {
        display: flex;
        align-items: center;
        padding: 2px 0;

        &::before {
          content: "";
          background: var(--backGround-r);
          display: inline-block;
          border-radius: 50%;
          width: 0.4em;
          height: 0.4em;
          margin-right: 0.5em;
          margin-top: -0.2em;
        }
      }
    }
  }
  .tags {
    margin-top: 0.5em;
    li {
      display: inline;
      a {
        display: inline-block;
        background: var(--backGround-r);
        padding: 4px 0.75em;
        border-radius: 1em;
        margin-top: 5px;
        font-size: 0.8em;
        color: var(--textColor-w);

        &:hover {
          background: var(--backGround-rd);
          opacity: 0.8;
          color: var(--textColor-w);
          text-decoration: underline;
        }
      }
    }
  }
}
// .archives {
//   margin-top: 0.5em;
//   .content {
//     background: var(--backGround-l);
//     width: 100%;
//     color: inherit;
//     padding: 5px 0.5em;
//     border: 1px solid var(--backGround-r);
//     border-radius: 3px;
//     outline: none;
//   }
// }

// 新着記事・ピックアップ記事
.sidebar-title {
  height: var(--lh);
  text-align: center;
  margin-top: calc(var(--lh) * 2);
  font-weight: bold;
}

#latest,
#pickup {
  .content {
    padding-top: 0.5rem;
  }
  a {
    background: var(--backGround-l);
    &:hover,
    &:active {
      opacity: 0.8;
      .title {
        text-decoration: underline;
      }
    }
  }
}

// 新着記事
#latest {
  .icon {
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 0.1em;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    justify-content: space-between;
    gap: 20px 0;

    @media ($mq-md) {
      grid-template-columns: repeat(4, calc(25% - 10px));
    }
    @media ($mq-lg) {
      grid-template-columns: repeat(2, calc(50% - 5px));
      gap: 10px 0;
    }
  }
  .article {
    display: grid;
    aspect-ratio: 1;
    grid-template-rows: 50% calc(50% - 1rem) 1rem;
    background: var(--backGround-l);
    border-radius: 4px;
    overflow: hidden;
    @media ($mq-sm) {
      grid-template-rows: 50% 38% 12%;
    }
    // @media ($mq-md) {
    //   grid-template-rows: 50% calc(50% - var(--lh)) var(--lh);
    // }
    @media ($mq-lg) {
      grid-template-rows: 50% calc(50% - 1rem) 1rem;
    }

    // &:hover {
    //   // opacity: 0.8;
    //   background: var(--backGround-rl);
    //   .title {
    //     text-decoration: underline;
    //   }
    // }

    .thumbnail {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .title {
      font-weight: bold;
      font-size: 0.8em;
      overflow: hidden;
      padding: 0.5em 5px 0;
      height: 5em;
    }
    .date {
      font-size: 0.7em;
      color: var(--textColor-g);
      text-align: end;
      padding: 5px;
    }
  }
}
// ピックアップ記事
#pickup {
  .icon {
    width: 1.3em;
    height: 1.3em;
    position: relative;
    top: 0.15em;
  }
  .content {
    display: grid;
    gap: 10px 0;
    @media ($mq-md) {
      grid-template-columns: repeat(2, calc(50% - 5px));
      gap: 0 10px;
    }
    @media ($mq-lg) {
      grid-template-columns: 1fr;
      gap: 10px 0;
    }
  }
  a {
    display: grid;
    grid-template-columns: min(25%, 128px) auto;
    grid-template-rows: auto 1rem;
    border-radius: 4px;
    overflow: hidden;
    @media ($mq-sm) {
      grid-template-rows: auto var(--lh);
    }
    @media ($mq-lg) {
      grid-template-columns: min(30%, 128px) auto;
      grid-template-rows: auto 1rem;
    }
  }
  .thumbnail {
    aspect-ratio: 1;
    grid-row: 1 / 3;
    width: 100%;
    object-fit: cover;
  }
  .title {
    overflow: hidden;
    font-weight: bold;
    height: 4em;
    padding: 0.5em 5px 0 10px;
    font-size: 0.9em;
    @media ($mq-lg) {
      font-size: 0.8em;
    }
  }
  .date {
    font-size: 0.7em;
    text-align: right;
    color: var(--textColor-g);
    line-height: 1rem;
    padding-right: 5px;
  }
}
////////////////////////////////////////////////////////////////////
//
//   list
//
///////////////////////////////////////////////////////////////////

.blog-header {
  height: 200px;
  // width: calc(100% + 40px);
  // position: relative;
  // overflow: hidden;
  // margin: 0 -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  // .blog-image {
  //   background-image: url("/images/blog.jpg");
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   filter: blur(8px);
  //   margin: -8px;
  //   background-size: cover;
  //   background-position: center;
  //   // background-repeat: no-repeat;
  // }
  .blog-title {
    font-size: 1.5em;
    // // position: absolute;
    // // left: 0;
    // // right: 0;
    // // top: 50%;
    // // margin-top: calc(-1.5em / 2);
    // // text-align: center;
    // color: var(--backGround-rl);
    // text-shadow: 0 0 8px var(--textColor-r);
    font-family: serif;
  }
}

.articles {
  // padding-top: var(--lh);
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  justify-content: space-between;
  gap: 20px 0;

  @media ($mq-md) {
    grid-template-columns: repeat(3, calc(100% / 3 - 10px));
    max-width: 800px;
    margin: auto;
  }
  article {
    background: var(--backGround-l);
    border-radius: 5px;
    overflow: hidden;
    a {
      display: grid;
      grid-template-rows: 50% calc(50% - var(--lh)) var(--lh);
      aspect-ratio: 3/4;
      overflow: hidden;
      height: 100%;

      &:hover {
        opacity: 0.8;

        .title {
          text-decoration: underline;
        }
      }
    }
  }

  .thumbnail {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .title {
    padding: 0.5em 5px 0;
    font-size: 0.9em;
    height: 5em;
    overflow: hidden;
    @media ($mq-md) {
      font-size: 1em;
      padding: 0.5em 10px 0;
    }
    @media ($mq-lg) {
      padding: 0.5em 5px 0;
      font-size: 0.9em;
    }
    @media ($mq-xl) {
      font-size: 1em;
      padding: 10px 10px 0;
    }
  }
  .post-meta {
    padding: 0 5px;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--textColor-g);
    @media ($mq-md) {
      font-size: 0.8em;
      padding: 0 10px;
    }
    @media ($mq-lg) {
      padding: 0 5px;
      font-size: 0.7em;
    }
    @media ($mq-xl) {
      font-size: 0.8em;
      padding: 0 10px;
    }
  }
}

// pagination

.pagination {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 0 2px;

  .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    background: var(--backGround-rd);
    color: var(--textColor-w);
    width: 2em;
    overflow: hidden;
  }
  .page-item:first-child .page-link {
    width: 2.5em;
    border-radius: 1.25em 0 0 1.25em;
    justify-content: flex-end;
    padding-right: 0.5em;
  }
  .page-item:last-child .page-link {
    width: 2.5em;
    border-radius: 0 1.25em 1.25em 0;
    justify-content: start;
    padding-left: 0.5em;
  }
  .page-link[href]:hover {
    opacity: 0.8;
  }
  a:not([href]) {
    cursor: default;
  }
  .page-item.active a {
    background: var(--backGround-l);
    color: inherit;
  }
}

////////////////////////////////////////////////////////////////////
//
//  terms
//
///////////////////////////////////////////////////////////////////

.page-title {
  padding-top: 2em;

  h1 {
    font-size: 1.1em;
  }
}
.terms-list {
  padding-top: 1em;

  ul {
    padding-left: 1em;
  }
  li {
    display: flex;
    align-items: center;
    padding: 2px 0;

    &::before {
      content: "";
      background: var(--backGround-rd);
      display: inline-block;
      border-radius: 50%;
      width: 0.3em;
      height: 0.3em;
      margin-right: 0.5em;
      opacity: 0.8;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}

////////////////////////////////////////////////////////////////////
//
//  Taxonomy ( default list )
//
///////////////////////////////////////////////////////////////////
.article-list {
  padding-top: 1em;

  article {
    a {
      display: grid;
      grid-template-columns: min(25%, 128px) auto;
      grid-template-rows: auto var(--lh);
      margin-top: 1em;
      background: var(--backGround-l);
      border-radius: 5px;
      overflow: hidden;
      &:hover {
        opacity: 0.8;
        .title {
          text-decoration: underline;
        }
      }
    }
    img {
      aspect-ratio: 1/ 1;
      width: 100%;
      object-fit: cover;
      grid-row: 1/3;
    }
    .title {
      font-weight: bold;
      font-size: 0.9em;
      overflow: hidden;
      padding: 0.5em 5px 0 10px;
      height: 4em;
      @media ($mq-md) {
        font-size: 1em;
        padding-right: 10px;
        height: 5em;
      }
    }
    .post-meta {
      font-size: 0.7em;
      color: var(--textColor-g);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px 0 10px;
      @media ($mq-md) {
        font-size: 0.8em;
        justify-content: flex-start;
        gap: 0 2em;
        padding-right: 10px;
      }
    }
  }
}
//シェアボタン（share）
.share {
  padding: 1em 0 calc(var(--lh) - 1em);
  .icon {
    margin: 0;
  }
  button {
    margin-right: 0.5em;
    padding: calc((var(--lh) - 1.5em) / 2) 0;
  }
  a {
    display: inline-grid;
    place-content: center;
    vertical-align: middle;
    &:hover {
      opacity: 0.8;
    }
  }
  .facebook {
    color: #0866ff;
    font-size: 1.5em;
    a {
      border-radius: 50%;
      width: 1em;
      height: 1em;
    }
  }
  .hatenabookmark {
    font-size: 1.5em;
    width: 1em;
    height: 1em;
  }
  .twitter {
    a {
      border-radius: 50%;
      background: black;
      width: 1.5rem;
      height: 1.5rem;
      color: white;
      font-size: 0.75em;
      margin-top: -0.2rem;
    }
  }
}

footer > .share {
  padding: calc(var(--lh) * 2 - 1em) 0 1em;
}
