@charset "UTF-8";
.blog #main,
#sidebar {
  font-family: sans-serif;
}

.blog {
  background: var(--backGround);
  color: var(--textColor);
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-rows: auto;
  grid-template-areas: "head" "menu" "main" "side" "foot";
}
@media ((min-width: 992px)) {
  .blog {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: " head head head" " navi navi navi" " main main side" " foot foot foot";
  }
}

#header {
  grid-area: head;
}

.blog #main {
  grid-area: main;
  margin: 0 10px;
}
@media ((min-width: 360px)) {
  .blog #main {
    margin: 0 min(2.77778%, 20px);
  }
}
@media ((min-width: 768px)) {
  .blog #main {
    margin: 0 auto;
    width: min(94.79167%, 840px);
  }
}
@media ((min-width: 992px)) {
  .blog #main {
    width: clamp(656px, 99.19355%, 780px);
    margin: 0 0 0 auto;
  }
}
@media ((min-width: 1200px)) {
  .blog #main {
    width: clamp(780px, 97.5%, 840px);
  }
}
@media ((min-width: 1400px)) {
  .blog #main {
    width: clamp(840px, 90%, 900px);
  }
}

#navigation {
  grid-area: navi;
}

#sidebar {
  grid-area: side;
  margin: 0 10px;
}
@media ((min-width: 360px)) {
  #sidebar {
    margin: 0 min(2.77778%, 20px);
  }
}
@media ((min-width: 768px)) {
  #sidebar {
    margin: 0 auto;
    width: min(94.79167%, 800px);
  }
}
@media ((min-width: 992px)) {
  #sidebar {
    width: clamp(320px, 96.77419%, 336px);
  }
}
@media ((min-width: 1200px)) {
  #sidebar {
    margin-left: 32px;
  }
}

#footer {
  grid-area: foot;
}

.blog #header {
  background: rgb(210, 60, 115);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.3));
}
.blog #header:after {
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  left: -8px;
  right: 0px;
  bottom: -16px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="16"><path d="M 32 0 a 16 16 0 1 1 -32 0 z" fill="rgb(210, 60, 115)"/></svg>');
}

.blog-title,
.blog-description {
  color: #fff;
}

.blog-description {
  font-size: 0.6em;
}

.blog #navigation .global-navigation {
  background: rgb(210, 60, 115);
  color: #fff;
  z-index: 100;
}
.blog #navigation .global-navigation li {
  border-bottom: 1px solid #fff;
}
.blog #navigation .global-navigation a:hover {
  opacity: 0.8;
}
@media ((min-width: 992px)) {
  .blog #navigation .global-navigation,
.blog #navigation input:checked ~ .global-navigation {
    position: static;
    height: auto;
    background: var(--backGround-l);
    flex-direction: row;
    color: var(--textColor-g);
    transition: none;
    justify-content: center;
    padding-top: 16px;
  }
  .blog #navigation li,
.blog #navigation li:first-child {
    margin: 0;
    width: 10rem;
    border: none;
    font-size: 0.75em;
    line-height: 1.5rem;
  }
  .blog #navigation a:hover {
    text-decoration: underline;
  }
}

.blog main {
  padding-top: 18px;
}
@media ((min-width: 992px)) {
  .blog main {
    padding: 0;
  }
}

#breadcrumb {
  font-size: 0.75em;
  padding-top: 0.25rem;
}
@media ((min-width: 992px)) {
  #breadcrumb {
    padding-top: 1rem;
  }
}
#breadcrumb li {
  display: inline;
  color: var(--textColor-g);
  line-height: 1.2rem;
}
#breadcrumb li:nth-child(n+2)::before {
  content: ">";
  padding-right: 0.5em;
}
#breadcrumb a:hover {
  text-decoration: underline;
}

#article {
  background: var(--articleGradient);
  box-shadow: 4px 4px 8px var(--boxShadow-d), inset 2px 2px 4px var(--boxShadow-l);
  border-radius: 18px;
  overflow: hidden;
  font-size: var(--fontSize);
  line-height: 32px;
  overflow-wrap: break-word;
  padding: 32px 15px 32px;
  margin-top: 1em;
}
@media ((min-width: 360px)) {
  #article {
    padding-left: min(2.77778%, 20px);
    padding-right: min(2.77778%, 20px);
  }
}
@media ((min-width: 768px)) {
  #article {
    padding-left: min(50% - 344px, 60px);
    padding-right: min(50% - 344px, 60px);
  }
}
@media ((min-width: 992px)) {
  #article {
    padding-left: min(9.2592592593% - 40.74074px, 30px);
    padding-right: min(9.2592592593% - 40.74074px, 30px);
  }
}
@media ((min-width: 1200px)) {
  #article {
    padding-left: min(16.6666666667% - 100px, 40px);
    padding-right: min(16.6666666667% - 100px, 40px);
  }
}
@media ((min-width: 1400px)) {
  #article {
    padding-left: min(16.6666666667% - 100px, 50px);
    padding-right: min(16.6666666667% - 100px, 50px);
  }
}

.article-title {
  font-size: 1.5em;
  padding: 0.5rem 0;
}
@media ((min-width: 992px)) {
  .article-title {
    font-size: 1.75em;
  }
}

.post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-meta .category {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.post-meta .category .icon {
  margin-top: -1px;
}
.post-meta .tags {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
.post-meta .tags a {
  color: var(--textColor-g);
  padding-left: 0.5em;
}
.post-meta a:hover {
  text-decoration: underline;
}

#article-content {
  margin: 0 auto;
}
#article-content h1,
#article-content h2 {
  font-size: 1.5em;
  margin-top: 64px;
}
#article-content h3,
#article-content h4,
#article-content h5,
#article-content h6,
#article-content p,
#article-content ul,
#article-content ol,
#article-content dl {
  padding-top: 32px;
}
#article-content img {
  max-width: 100%;
  height: auto;
}
#article-content hr {
  border: 0;
  border-top: 1px dashed currentColor;
  color: hsl(47deg, 6%, 24%);
  margin: 31.5px 0 31.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#article-content hr::before {
  content: "✂";
  color: currentColor;
  width: 1.5em;
  background: hsl(47deg, 56%, 94%);
  text-align: center;
  margin-top: 0.1em;
  vertical-align: middle;
  line-height: 1em;
}
#article-content ul {
  padding-left: 1em;
  list-style: disc;
}
#article-content ul ul {
  list-style: circle;
}
#article-content ol {
  padding-left: 1.5em;
  list-style: decimal;
}
#article-content ol ul {
  padding-left: 1em;
  list-style: circle;
}
#article-content dt {
  font-weight: 700;
}
#article-content dd ul {
  padding-left: 1em;
  list-style: circle;
}
#article-content blockquote {
  margin: 0;
  margin-top: 32px;
  padding: 1.5em 1em 1.5em 1.5em;
  font-size: 0.9em;
  background: var(--backGround-l);
  border-left: 0.5em solid var(--backGround-d);
  line-height: 1.5;
  color: var(--textColor-g);
}
#article-content blockquote p:first-child {
  margin-top: 0;
  padding-top: 0;
}
#article-content figure > img {
  padding-top: 32px;
}
#article-content figcaption,
#article-content caption {
  font-size: 0.8em;
}
#article-content table {
  margin: 32px auto 32px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
#article-content tr:nth-child(odd) {
  background: var(--backGround-l);
}
#article-content th,
#article-content td {
  padding-top: 10px;
}

#related {
  padding: 32px 0 1rem;
}
#related a:hover .related-article {
  background: var(--backGround-l);
  opacity: 0.6;
}
#related a:hover .title {
  text-decoration: underline;
}

.related-title {
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.4rem 0;
}

.related-article {
  display: grid;
  grid-template-columns: min(25%, 128px) auto;
  grid-template-rows: 8fr 2fr;
  gap: 0 5px;
  margin-top: 2rem;
  line-height: 1.5;
}
.related-article .thumbnail {
  grid-row: span 2;
  aspect-ratio: 1/1;
  width: 100%;
}
.related-article .title {
  font-weight: 700;
  font-size: 0.9em;
  overflow: hidden;
}
@media ((min-width: 768px)) {
  .related-article .title {
    font-size: 1em;
  }
}
.related-article .date {
  font-size: 0.7em;
  color: var(--textColor-g);
  text-align: end;
}
@media ((min-width: 768px)) {
  .related-article .date {
    font-size: 0.8em;
  }
}

.prev-next {
  padding-top: 2rem;
}
@media ((min-width: 768px)) {
  .prev-next {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 8px;
  }
}

#next-article {
  padding: 5px;
  background: var(--backGround-l);
  margin-top: 10px;
}
#next-article a {
  display: flex;
  flex-direction: column;
}
#next-article a:hover {
  text-decoration: underline;
}
#next-article a span {
  display: flex;
  font-size: 0.8em;
  padding-bottom: 5px;
}

#prev-article {
  padding: 5px;
  background: var(--backGround-l);
  margin-top: 10px;
}
#prev-article a {
  display: flex;
  flex-direction: column;
  align-items: end;
}
#prev-article a:hover {
  text-decoration: underline;
}
#prev-article a span {
  display: flex;
  font-size: 0.8em;
  padding-bottom: 5px;
}

#sidebar .sidebar-title {
  background: var(--sidebarGradient);
  color: var(--textColor-w);
  padding: 0.5em 15px;
  font-weight: 700;
  margin-top: 4em;
  text-align: center;
}
@media ((min-width: 360px)) {
  #sidebar .sidebar-title {
    padding: 0.5em 20px;
  }
}

#latest a:hover {
  opacity: 0.8;
}
#latest a:hover .title {
  text-decoration: underline;
}
#latest .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  margin-top: 1rem;
}
@media ((min-width: 768px)) {
  #latest .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media ((min-width: 992px)) {
  #latest .content {
    grid-template-columns: 1fr 1fr;
  }
}

.latest-article {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  gap: 5px 0;
  line-height: 1.5;
  background: var(--backGround-l);
  margin: 5px;
}
.latest-article .thumbnail {
  grid-row: span 2;
  aspect-ratio: 16/9;
  width: 100%;
}
.latest-article .title {
  font-weight: 700;
  font-size: 0.9em;
  overflow: hidden;
  padding: 0 5px;
}
@media ((min-width: 768px)) {
  .latest-article .title {
    font-size: 1em;
  }
}
@media ((min-width: 992px)) {
  .latest-article .title {
    font-size: 0.8em;
  }
}
.latest-article .date {
  font-size: 0.7em;
  color: var(--textColor-g);
  text-align: end;
  padding: 0 5px 2px;
}
@media ((min-width: 768px)) {
  .latest-article .date {
    font-size: 0.8em;
  }
}
@media ((min-width: 992px)) {
  .latest-article .date {
    font-size: 0.6em;
  }
}

#findArticles .categories,
#findArticles .tags {
  padding: 10px;
  background: var(--backGround-l);
}
#findArticles .categories .title,
#findArticles .tags .title {
  padding-bottom: 5px;
  display: flex;
}

.categories {
  margin-top: 1rem;
}
.categories a:hover {
  text-decoration: underline;
}
.categories .content {
  padding-left: 1rem;
  font-size: 0.9em;
}
@media ((min-width: 768px)) {
  .categories .content {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
}
@media ((min-width: 992px)) {
  .categories .content {
    display: block;
    padding-left: 1rem;
  }
}
.categories .content li {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.categories .content li::before {
  content: "";
  background: var(--backGround-rd);
  display: inline-block;
  border-radius: 50%;
  width: 0.3em;
  height: 0.3em;
  margin-right: 0.5em;
  opacity: 0.8;
}

.tags {
  margin-top: 0.5em;
}
.tags li {
  display: inline;
}
.tags li a {
  display: inline-block;
  background: var(--backGround-r);
  padding: 2.5px 0.5em;
  border-radius: 1em;
  margin-top: 5px;
  font-size: 0.9em;
}
.tags li a:hover {
  background: var(--backGround-rd);
  opacity: 0.8;
  color: var(--textColor-w);
}

.archives {
  margin-top: 0.5em;
}
.archives .content {
  background: var(--backGround-l);
  border: none;
  width: 100%;
  color: inherit;
  padding: 5px 0.5em;
}

.articles {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 5px;
}
@media ((min-width: 768px)) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }
}
.articles article {
  overflow: hidden;
}
.articles article a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.articles article a:hover {
  opacity: 0.8;
}
.articles article a:hover .title {
  text-decoration: underline;
}
.articles img {
  max-width: 100%;
}
.articles .wrapper {
  background: var(--backGround-l);
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  font-size: 0.9em;
}
.articles .post-meta {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textColor-g);
}

.pagination {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 0 2px;
}
.pagination .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  background: var(--backGround-rd);
  color: var(--textColor-w);
  width: 2em;
  overflow: hidden;
}
.pagination .page-item:first-child .page-link {
  width: 2.5em;
  border-radius: 1.25em 0 0 1.25em;
  justify-content: end;
  padding-right: 0.5em;
}
.pagination .page-item:last-child .page-link {
  width: 2.5em;
  border-radius: 0 1.25em 1.25em 0;
  justify-content: start;
  padding-left: 0.5em;
}
.pagination .page-link[href]:hover {
  opacity: 0.8;
}
.pagination a:not([href]) {
  cursor: default;
}

.page-title {
  padding-top: 2em;
}
.page-title h1 {
  font-size: 1.1em;
}

.terms-list {
  padding-top: 1em;
}
.terms-list ul {
  padding-left: 1em;
}
.terms-list li {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.terms-list li::before {
  content: "";
  background: var(--backGround-rd);
  display: inline-block;
  border-radius: 50%;
  width: 0.3em;
  height: 0.3em;
  margin-right: 0.5em;
  opacity: 0.8;
}
.terms-list a:hover {
  text-decoration: underline;
}

.article-list {
  padding-top: 1em;
}
@media ((min-width: 992px)) {
  .article-list article {
    padding: 0.5em;
  }
}
.article-list article a {
  display: grid;
  grid-template-columns: min(25%, 128px) auto;
  grid-template-rows: auto;
  margin-top: 1rem;
  line-height: 1.5;
  background: var(--backGround-l);
}
.article-list article a:hover .title {
  text-decoration: underline;
}
.article-list article img {
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-list article .wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 75% 25%;
  padding: 5px;
}
.article-list article .title {
  font-weight: 700;
  font-size: 0.9em;
  overflow: hidden;
}
@media ((min-width: 768px)) {
  .article-list article .title {
    font-size: 1em;
  }
}
.article-list article .post-meta {
  font-size: 0.8em;
  color: var(--textColor-g);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media ((min-width: 768px)) {
  .article-list article .post-meta {
    font-size: 0.9em;
    justify-content: flex-start;
    gap: 0 1em;
  }
}/*# sourceMappingURL=blog.css.map */