{{/*
<div class="shop">
  <div class="logo">
    <svg class="icon" alt="ヘアーサロンみなみ">
      <use xlink:href="#logo" />
    </svg>
  </div>
  <address>大阪市鶴見区諸口1-10-45<br />06-6911-0635</address>
</div>
*/}}
<div class="sns">
  {{/*
  <a href="https://www.facebook.com/minami.hairsalon"
    ><svg class="icon" alt="フェイスブック">
      <use xlink:href="#facebook" /></svg
  ></a>
  */}}
  <a href="https://www.instagram.com/minami_hairsalon/"><svg class="icon" alt="インスタグラム"><use xlink:href="#instagram" /></svg></a>
  <a href="https://twitter.com/minamihairsalon"><svg class="icon" alt="X(旧ツイッター）"><use xlink:href="#x" /></svg></a>
</div>
{{ $currentNode := . }}
{{ if .Site.Menus.footer }}
<div class="navigation" role="navigation" aria-label="フッターナビゲーション">
  <ul>
    {{ range .Site.Menus.footer }}
    <li>
      <a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
<p class="copyright-powered">
  <small>{{ with .Site.Copyright }}{{ . | safeHTML }}{{ else }}&copy; {{ .Site.Title }}{{ end }}</small>
</p>
