<aside class="share">
  <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="はてなブックマーク" class="ht" target="_blank" rel="noopener nofollow"><svg class="icon hatenabookmark" aria-hidden="true"><use xlink:href="#hatenabookmark"/></svg></a>
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitterでシェア" class="tw" target="_blank" rel="noopener nofollow"><svg class="icon facebook" aria-hidden="true"><use xlink:href="#facebook"/></svg></a>
  <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebookでシェア" class="fb" target="_blank" rel="noopener nofollow"><svg class="icon twitter" aria-hidden="true"><use xlink:href="#twitter"/></svg></a>
  <a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink }}" title="LINEで送る" class="ln" target="_blank" rel="noopener nofollow"><i class="icon line" aria-hidden="true"></i></a>
</aside>
