{{ define "title" }}{{ .Title }}{{ end }}

{{ define "meta" }}
<meta name="robots" content="noindex" />
{{ end }}

{{ define "main" }}
<div id="page404">
  <h1 class="title">お探しのページが見つかりません。</h1>
  <p>
    誠に申し訳ございませんが、<br />
    アクセスしようとしたページが見つかりませんでした。<br />
    お客様のご覧になっていたページからのリンクが<br />
    無効になっている可能性があります。
  </p>
  <p>
    大変お手数ですが<a href="https://forms.gle/H88EyQm9MrZREFFB9">こちらの問い合わせフォーム</a>にて<br />
    リンクが無効になっていたことや、<br />
    アクセスしたページのURLなどをお知らせ下さい。<br />
    いただきました情報を参考に対応させて頂きます。
  </p>
  {{if .Site.Menus.main }}
  <p>
    またページをお探しでしたら、<br />
    下記のリンクがお役に立つかもしれません。<br />
    ぜひともご活用ください。
  </p>
  <nav class="navigation" role="navigation" aria-label="404ナビゲーション">
    {{- range .Site.Menus.main -}}
    <li>
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{- end -}}
  </nav>
  {{ end }}
  <p><a href="{{ .Site.BaseURL }}">サイトのHOMEに移動する。</a></p>
</div>
{{ end }}
